.title-slide {
  background-image: url("pics/title_background.png");
  background-size: cover;
}
.title-slide h1, h2, h3 {
  text-align: center;
  /*color: #F7F8FA;*/
}

.title-slide .remark-slide-number {
  display: none;
}

.my-footer {
  content: "";
  position: absolute;
  bottom: 15px;
  left:    8px;
  height: 50px;
  width: 905px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("pics/Logo_M.png");
}


.poll-slide {
  background: rgb(0,114,182);
  background: linear-gradient(157deg, rgba(35,107,150,1) 0%, rgba(40,136,69,1) 68%, rgba(179,40,25,1) 100%);
  /* background: linear-gradient(132deg, #ec5218, #1665c1); */
  /* background-size: 400% 400%; */
  /* animation: BackgroundGradient 10s ease infinite; */
  /* transform: translateZ(0); */
  color: #fff;
}

.poll-slide h1, h2 {
  text-align: center;
}

/*
@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
*/

.pull-left-60 {
  float: left;
  width: 57%;
}
.pull-right-40 {
  float: right;
  width: 37%;
}
.pull-right-40 ~ * {
  clear: both;
}